{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles4.css">
  <title>User Login Form</title>
</head>
<body>
  <div class="form-container">
    <h2>User Login</h2>
    <form action="" method="post">{% csrf_token %}
      <input type="text" placeholder="User_name" name="name">
      <input type="password" placeholder="Password" name="password">
      <button type="submit">Login</button>
      <div class="extra-links">
        <a href="{% url 'register' %}">Register</a>
      </div>
    </form>
  </div>
</body>
</html>
